
    <div class="container" >
        <div class="col">
             <div class="title"> Setup a new container </div>
    <form action="#">
        <div class="container-details">
            <div class="input-box">
                <span class="details"> Name :  </span>
                <input type="text" placeholder="Entre the container name" required>
            </div>
            <div class="input-box">
                <span class="details"> ID : </span>
                <input type="text" placeholder="Entre the container's ID" required>
            </div>
            <div class="input-box">
                <span class="details" id="dest">Destination : </span>
                <div class="destination">
                <input type="text" placeholder=" start location" required>
                <input type="text" placeholder="arrival location"  required>
            </div>
            </div>

        </div>
        <div class="sensors-choice">
            <div>
            <span class="details"style="margin:5px;">Activate the needed sensors to essure the safety of your product: </span>
            </div>
            <div class="sensor">           
                <input type="checkbox">
                <label class="switch" for="">Infrared</label>  
                            <div class="inputs">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="min">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="max">
                </div>
             </div>
             <div class="sensor">           
                <input type="checkbox">
                <label class="switch" for="">Infrared</label>  
                            <div class="inputs">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="min">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="max">
                </div>
             </div>
             <div class="sensor">           
                <input type="checkbox">
                <label class="switch" for="">Infrared</label>  
                            <div class="inputs">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="min">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="max">
                </div>
             </div>
             <div class="sensor">           
                <input type="checkbox">
                <label class="switch" for="">Infrared</label>  
                            <div class="inputs">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="min">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="max">
                </div>
             </div>
             <div class="sensor">           
                <input type="checkbox">
                <label class="switch" for="">Infrared</label>  
                            <div class="inputs">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="min">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="max">
                </div>
             </div>
             <div class="sensor">           
                <input type="checkbox">
                <label class="switch" for="">Infrared</label>  
                            <div class="inputs">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="min">
                    <input type="text" id="pin" name="pin" maxlength="4" size="4" placeholder="max">
                </div>
             </div>
        </div>
        <div class="col">
                    <div class="form-group">
            <label class="lables">Description</label><br>
            <div class="textarea-style">       
                 <textarea class="textarea" name="textarea-description" id="textarea" cols="40" rows="5"
                maxlength="250" minlength="16"  placeholder="Write your description here ..."></textarea>
            </div><br>
           <span class="textarea-count"></span>
        </div>
        </div>

        <div class="button">
            <input type="submit" value="Add">
        </div>
     </form>
        </div>
   
</div>


