
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <hr style=" margin: 10px  0px; ">

            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div  style="font-size: 1.2rem;" class="col-md-7 col-7">
                fares anes
                <br />
                <span >
                  <small>Offline</small>
                </span>
              </div>
            </div>
            <hr style=" margin: 10px  0px; ">
          </li>

          <li >
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div  style="font-size: 1.2rem;" class="col-md-7 col-7">
yassmine                <br />
                <span class="text-success" style="color: #6bd098;">
                  <small>Available</small>
                </span>
              </div>
            </div>
            <hr style=" margin: 10px  0px; ">

          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div style="font-size: 1.2rem;" class="col-ms-7 col-7">
                ameny
                <br />
                <span >
                  <small>Offline</small>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
      <div class="card card-user">
    <div class="image">

    </div>
    <div class="card-body">
      <div class="author">
        <a href="#">
          <img class="avatar border-gray" src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
          <h5 class="title">captain fares</h5>
        </a>
      </div>
      <hr>
      <div class="button-container">
        <div class="row" style="justify-content: left; text-align: left;">
          <div class="col">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; " >
              <p style="margin-left: 20px; margin-bottom: 0 !important; font-size: 1.2rem; ">Statut:</p>
              <span  style=" color: #6bd098 ;">
                    Available
              </span>
            </div>

          </div>
          <div class="col">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; " >
              <p style="margin-left: 20px; margin-bottom: 0 !important; font-size: 1.2rem; ">Location:</p>
              <span >
                birmingham,UK
              </span>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
  </div>
 


</div>





