<div class="row" style="  -ms-overflow-style: none!important;
scrollbar-width: none!important;">
  <div class="col-md-12">
    <div class="card">
      
      <div class="card-header" style="display: flex; align-items: center; justify-content:space-between ;" >
        <h4 class="card-title"> all containers: </h4>
        <div style="float: right !important  ;" >
          <div class="addbtn">
            <button type="button" class="btn btn-warning" >+ Add container</button>
            </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive"  style="     overflow: auto;
        ">
          <table class="table">
            <thead class=" text-primary">
              <th>
                ID
              </th>
              <th>
               name
              </th>
              <th>
                destination
              </th>
              <th>
                destination
              </th>
              <th>
                alerts
              </th>
              <th class="text-right">
                statut
              </th>
            </thead>
            <tbody>
              <tr *ngFor='let data of this.dataRows; let i=index;'  >
                <td>
                    {{data[0]}}
                </td>
                <td>
                  {{data[1]}}
                </td>
                <td>
                  {{data[2]}}
                </td>
                <td>
                  {{data[3]}}
                </td>
                <td>
                  {{data[4]}}
                </td>
                <td class="text-right">
                  <div *ngIf="data[5] else offline">
                    <button class="btn btn-success">active</button>
                  </div>
                  
                  <ng-template #offline>
                 <button class="btn btn-alert">offline</button>
                  </ng-template>
                </td>   
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>