<div class="name">
    <p>Agents</p>
    <div class="add">
        add agent
        <img class="img" src="../assets/add person.jpg">
    </div>
    
    
    
    
    

</div>





<div class="alltable">
    
      
                <div class="searchbar">
                        <div class="container-fluid">
                            <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                        <div class="addbtn">
                        <button type="button" class="btn btn-warning" >+ Add container</button>
                        </div>
                </div>
                
           
                  
        <table>
        <thead class="thead">
            <tr>
                <th>
                    <div class="name">
                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" >
                        <p id="name">Name</p> 
                    </div>
                <th>Agent</th>
                <th>Destination</th>
                <th>notification</th>
                <th>status</th>
        </thead>
     
        <tr>
            
            <td>
                <div class="name">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" >
                    <p id="name">yass</p> 
                </div>
            </td>
            <td>
                <div>working</div>
            </td>
            <td>
                <div>working</div>
            </td>
            <td>
                <button class="activatebtn">activate</button>
            </td>
            <td>
                <div>working</div>
            </td>
    
        </tr>
    
            
          <tr>
            
            <td>
                <div class="name">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" >
                    <p id="name">yass</p> 
                </div>
            </td>
            <td>
                <div>working</div>
            </td>
            <td>
                <div>working</div>
            </td>
            <td>
                <button class="activatebtn">activate</button>
            </td>
            <td>
                <div>working</div>
            </td>
    
    
          </tr>
          <tr>

            <td>
                <div class="name">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" >
                    <p id="name">yass</p> 
                </div>
            </td>
            <td>
                <div>working</div>
            </td>
            <td>
                <div>working</div>
            </td>
            <td>
                <button class="activatebtn">activate</button>
            </td>
            <td>
                <div>working</div>
            </td>
    
          </tr>
          <tr>

            <td>
                <div class="name">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" >
                    <p id="name">yass</p> 
                </div>
            </td>
            <td>
                <div>working</div>
            </td>
            <td>
                <div>working</div>
            </td>
            <td>
                <button class="activatebtn">activate</button>
            </td>
            <td>
                <div>working</div>
            </td>
    
    
          </tr>
   
    
    </table>
    


</div>

<footer >
    <p>activated worker</p>
    <p>rows per page 10</p>
    <p>100 out of 710</p>
</footer>

